.app-layout{
    min-height: 100vh;
}

.sidebar-container{
    padding:40px 8px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 238, 242);
    box-shadow: rgba(149, 157, 165, 0.2) 0px  8px 0px 0px;
}

.sidebar-container a.active {
    color: white;
    background-color: rgb(93, 135, 255);
  }

  .sidebar-container a:hover {
    color: rgb(93, 135, 255);
    background-color: #dfe0e2;
  }
.main-container{
    padding:15px 24px;
}
.sidebar-item-container{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
   font-size: 20px;
   color: rgb(53, 50, 50);
   padding: 8px 20px ;
   border-radius: 5px;
   gap: 10px;
   cursor: pointer;

}



.side-item-title{
    font-size: 12px;
    font-weight: 600;
}

.page-header{
    text-align: left;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0px 0px 16px 0;
}